@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  font-family: "Poppins", sans-serif;
  padding: 40px;
  background-image: url(../img/sfondo.png);
  /* background-size: cover; */
  background-attachment: fixed;
  background-repeat: repeat;
}

/* HEADER */

header {
  background-color: #0088aa;
  padding: 30px;
  text-align: center;
  box-shadow: 1px 2px 5px #000;
}

.logo-title p {
  text-transform: uppercase;
  color: white;
  margin-top: 30px;
}

nav ul {
  list-style: none;
  margin-top: 30px;
  text-transform: uppercase;
  text-align: center;
}

nav ul a {
  color: white;
  text-decoration: none;
}

nav ul li {
  display: inline-block;
  margin: 5px 30px;
}

/* MAIN */

main {
  background-color: white;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 30px 20px;
  box-shadow: 1px 2px 5px #000;
}

/* ELEMENTI NEL MAIN */

h1 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 30px;
  line-height: 2.8rem;
}

.article-info {
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 30px;
  font-size: 1.5rem;
}

article p {
  margin-bottom: 20px;
  font-size: 1.5rem;
}

article p strong {
  color: purple;
  font-weight: bold;
}

article ul {
  padding-left: 30px;
  margin-bottom: 30px;
  line-height: 2rem;
  font-size: 1.5rem;
}

article li {
  line-height: 2.5rem;
}

article button {
  border-radius: 5px;
  font-size: 1.5rem;
}

article ol {
  padding-left: 30px;
  margin-bottom: 30px;
  line-height: 2rem;
  font-size: 1.5rem;
}

article a {
  color: cornflowerblue;
}

iframe {
  border-radius: 30px;
  margin-bottom: 30px;
  text-align: center;
}

#video {
  text-align: center;
}

h2 {
  font-size: 1.8rem;
  margin-bottom: 10px;
}

/* TABELLE */

caption {
  font-style: italic;
  font-weight: bold;
  font-size: 1.5rem;
}

table th {
  background-color: #3769cc;
  border: 1px solid rgb(195, 195, 195);
  padding: 20px;
  font-size: 1.5rem;
}

table td {
  padding: 20px;
  text-align: center;
  font-size: 1.5rem;
}

table tr:nth-of-type(even) {
  background-color: #f0f0f1;
}

table {
  border-bottom: 2px solid cadetblue;
  margin-bottom: 30px;
  margin-top: 50px;
  width: 100%;
}

/* FORM */

.form {
  background-color: #e1e0e1;
  padding: 30px;
  text-align: center;
  margin-bottom: 30px;
}

.form h2 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 30px;
  text-align: center;
}

.form p {
  font-size: 1.5rem;
}

.form button {
  background-color: #3d6dd7;
  color: white;
  font-size: 2rem;
}

.form input {
  border: none;
  border-bottom: 1px dashed black;
  font-size: 2rem;
}

aside h2 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 30px;
  text-align: center;
}

aside div {
  background-color: #ffffff;
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid rgb(200, 200, 200);
}

.data {
  margin-top: 30px;
  text-align: right;
  font-size: 1.3rem;
}

.data i {
  margin-right: 5px;
}

.categoria {
  margin-top: 5px;
}

.categoria i {
  margin-right: 5px;
}

aside a {
  color: cornflowerblue;
}

#flexbox {
  display: flex;
  justify-content: space-evenly;
  background-color: #e1e0e1;
}

.article {
  width: 25%;
  height: 100px;
  font-size: 1.5rem;
  box-shadow: 1px 2px 5px #000;
  margin-top: 20px;
}

/* FOOTER */

footer {
  background: rgb(0, 85, 102);
  background: linear-gradient(
    180deg,
    rgba(0, 85, 102, 1) 0%,
    rgba(51, 62, 56, 1) 100%
  );
  padding: 20px;
  text-align: center;
  color: white;
  box-shadow: 1px 2px 5px #000;
}

footer p {
  margin-bottom: 30px;
  font-size: 1.5rem;
}

footer a {
  color: rgb(253, 3, 253);
  font-weight: bold;
}

footer address {
  line-height: 1.3rem;
  font-size: 1.2rem;
}
