nav {
  display: flex;
}

ul {
  display: flex;
}

.hero {
  display: flex;
  justify-content: space-evenly;
}

@import "./partials/reset";
@import "./partials/colori";
@import "./partials/font";
@import "./partials/bottoni";
@import "./partials/spaziature";
@import "./partials/mixins-generici";
@import "./partials/animazioni";
